{{#foreach focusPost}}
   {{#if $last}}
    <div class="focusContainer" style="background-image: url('{{imgPath}}')">
        <div class="emphasis">
            <a href="/view/{{id}}">
                <h2>
                    <span>
                        {{title}}
                    </span>
                </h2>
            </a>
            <p class="focusSubtitle">
                {{subtitle}}
            </p>
        </div>
        <div class="controls">
            {{#if ../isAuthenticated}}
            <a href="/{{_id}}/edit" class="btnWhite">EDIT POST</a>
            <a href="/editorial/{{_id}}/delete/" class="btnWhite">DELETE</a>
            {{/if}}
        </div>
    </div>
    {{/if}} 
{{/foreach}}

<div class="editorialContainer">
    <div class="addBtn">
        {{#if isAuthenticated}}
        <a href="/editorial/new" class="btnBlack">ADD NEW</a>
        {{/if}}
    </div>

     
    <div class="cards">
        {{#each posts}}
        <div class="cardWrapper">
            <div class="summaryCard">
                <div class="cardImage">
                    <img src="{{imgPath}}" alt="{{title}}">
                </div>
                <div class="details">
                    <h3 class="category">{{category}}</h3>
                    <span class="date">{{formatDate date 'short'}}</span>
                    <h2 class="title"><a href="/view/{{id}}">{{title}}</a></h2>
                    <p class="subtitle">{{subtitle}}</p>
                    <p class="author">BY {{author}}</p>
                </div>
            </div>
            <div class="cardFooter">
                {{#if ../isAuthenticated}}
                <a href="/{{_id}}/edit" class="btnBlack">EDIT POST</a>
                <a href="/editorial/{{_id}}/delete/" class="btnBlack">DELETE</a>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>